html, body {
  font-size: 16px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  color: #1E1B1B;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1310px;
}

.button {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 203px;
  height: 64px;
  background-color: #FF6433;
  border-radius: 12px;
  font-size: 18px;
  line-height: 175%;
  color: #fff;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

.heading, h2 {
  font-weight: 800;
  font-size: 58px;
  line-height: 131%;
  text-align: center;
  letter-spacing: -0.03em;
}

.logo {
  transition: all 0.3s;
}

.logo:hover path {
  fill: #FF6433;
}

/* ============================header__top====================================== */
.wrapper__header {
  padding-bottom: 135px;
}


.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  line-height: 28px;
  margin-left: 40px;
  white-space: nowrap;
  transition-duration: .3s;
}

.header__nav-item:first-child {
  margin-left: 20px;
}

.header__nav-item:hover {
  transform: scale(1.2);
  color: #FF6433;
}

.header__line-body {
  flex: 0 1 74px;
  padding: 0 5px;
}

.header__top-line {
  width: 0px;
  height: 42px;
  border: 1px solid #939191;
  margin: auto;
  opacity: 0.36;
}

.header__top-contact {
  display: grid;
  grid-template: repeat(2, min-content)/repeat(2, min-content);
  align-items: center;
}

.header__top-call {
  grid-area: 1/1/3/2;
  margin-right: 14px;
}

.header__top-contact--top {
  white-space: nowrap;
  font-weight: 500;
  line-height: 150%;
}

.header__top-contact--foot {
  grid-area: 2/2/3/3;
  font-size: 18px;
  white-space: nowrap;
  line-height: 175%;
}

/* =====================================header__body============================================ */
.header__main {
  display: grid;
  grid-template: min-content/1fr 1fr;
  margin-top: 80px;
}

.header__main-left {
  display: grid;
  grid-template: repeat(3, min-content) / 1fr;
}

.header__main-text {
  align-self: end;
  margin-top: 82px;
  max-width: 624px;
  font-size: 64px;
  font-weight: 800;
  line-height: 131%;
  letter-spacing: -0.03em;
}

.header__main-buttons {
  display: grid;
  grid-template: min-content/minmax(205px, 252px) 140px;
  margin-top: 32px;
  justify-items: start;
  align-items: center;
}

.header__main-service {
  font-size: 18px;
  line-height: 175%;
}

.header__main-video {
  position: relative;
  margin-left: 32px;
  line-height: 19px;
  font-weight: 500;
}

.header__main-video::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/1/Play.svg);
  position: absolute;
  left: -32px;
  top: -2.5px;
  border-radius: 50%;
  transition: 0.3s;
}

.header__main-video:hover:before {
  box-shadow: 0 0 15px 1px #333;
}

.header__main-open {
  display: grid;
  grid-template: min-content min-content/ min-content;
  white-space: nowrap;
  margin-left: 44px;
  margin-top: 48px;
  position: relative;
}

.header__main-open::after {
  content: "";
  width: 31px;
  height: 31px;
  background-image: url(../images/1/Icon.svg);
  position: absolute;
  left: -44px;
  top: 12.5px;
}

.header__main-open--grey {
  line-height: 150%;
  font-weight: 500;
  color: #939191;
}

.header__main-open--black {
  line-height: 175%;
  font-size: 18px;
}

.header__main-right {
  width: 605px;
  height: 632px;
  background-image: url(../images/1/Image.jpg);
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  z-index: -1;
  position: relative;
}

.header__main-left .header__right-service,
.header__main-left .header__right-rate {
  display: none;
}

.header__right-service {
  top: 69px;
  left: -42px;
  width: 306px;
  height: 126px;
  display: grid;
  grid-template: 102px/ 246px;
  align-items: center;
  justify-items: end;
  border: 12px solid rgba(225, 225, 225, 0.43);
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
  border-radius: 59px;
  position: relative;
  margin-right: 36px;
}

.header__right-service::before {
  content: "";
  width: 70px;
  height: 70px;
  background-image: url(../images/1/24.svg);
  position: absolute;
  left: 14px;
}

.header__right-service::after {
  content: "";
  width: 282px;
  height: 102px;
  background-color: #fff;
  border-radius: 59px;
  position: absolute;
  z-index: -1;
}

.header__right-rate {
  position: absolute;
  top: 320px;
  left: 287px;
  width: 350px;
  height: 126px;
  display: grid;
  grid-template: 102px/ 94px 1fr;
  align-items: center;
  justify-items: center;
  border: 12px solid rgba(225, 225, 225, 0.43);
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
  border-radius: 59px;
  position: relative;
}

.header__right-rate::after {
  content: "";
  width: 326px;
  height: 102px;
  background-color: #fff;
  border-radius: 59px;
  position: absolute;
  z-index: -1;
}

.header__right-text {
  margin-top: 12px;
  padding-left: 38px;
  display: grid;
  grid-template: repeat(2, min-content) /56px;
  justify-items: start;
  align-items: center;
}

.header__right-text--top {
  justify-self: end;
  align-self: end;
  margin-bottom: -12px;
}

.header__right-text--bot {
  font-weight: 500;
  font-size: 16px;
  opacity: 0.7;
  align-self: end;
}

.header__right-rate--star {
  justify-self: start;
  margin-left: 15px;
  padding: 0;
}

/* ===========================================Main__offer==================================== */
.main__offer {
  background-color: #F2F2F2;
}

.main__offer-inner {
  display: grid;
  grid-template: repeat(3, min-content)/1fr;
  justify-items: center;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
}

.offer__heading {
  display: grid;
  grid-template: repeat(2, min-content)/1fr;
  margin: auto;
  grid-gap: 8px;
}

.offer__heading-preface {
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
}

.offer__heading-heading {
  width: 858px;
  padding-bottom: 64px;
}

.offer__buttons {
  display: grid;
  grid-template: 1fr 1fr / repeat(4, 1fr);
  align-items: center;
  grid-gap: 6.5px;
}

.offer__button {
  background-color: #fff;
  width: 315px;
  height: 232px;
  display: grid;
  grid-template: 134px 1fr /1fr;
  justify-items: center;
  align-items: start;
  transition: 0.3s;
}

.offer__button:hover {
  background-color: #FF6433;
  color: #fff;
}

path {
  transition: 0.3s;
}

.offer__button:hover path {
  fill: #fff;
}

.offer__button-icon {
  align-self: end;
  padding-bottom: 14px;
  fill: #1E1B1B;
}

.offer__button-signature {
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
}

.ofeer__learn {
  font-size: 18px;
  line-height: 175%;
  position: relative;
  justify-self: end;
  padding-top: 32px;
  padding-right: 69px;
  transition: 0.3s;
}

.ofeer__learn:hover {
  color: #FF6433;
  text-decoration: underline #FF6433;
}

.ofeer__learn::before {
  content: "";
  width: 53px;
  height: 16px;
  background-image: url(../images/2/right.svg);
  position: absolute;
  left: 195px;
  top: 36px;
}

/* =======================================main__process==================================== */
.main__process {
  background-color: #fff;
}

.process__inner {
  display: grid;
  grid-template: repeat(2, min-content)/1fr;
}

.process__top {
  display: grid;
  grid-template: 1fr/ repeat(2, 1fr);
  margin-top: 134px;
}

.process__top-left {
  display: grid;
  grid-template: repeat(3, min-content)/1fr;
}

.process__top-heading--left {
  max-width: 524px;
  min-height: 228px;
  text-align: left;
}

.process__top-paragraph {
  margin-top: 16px;
  line-height: 175%;
  max-width: 437px;
  min-height: 56px;
}

.process__top-button {
  height: 64px;
  width: 177px;
  margin-top: 32px;
}

.process__top-right {
  justify-self: start;
  margin-left: 15px;
  display: grid;
  grid-template: repeat(3, 1fr)/1fr;
}

.process__top-inner {
  display: grid;
  grid-template: repeat(2, min-content)/repeat(2, min-content);
  margin-bottom: 16px;
  position: relative;
}

.process__top-icon {
  display: grid;
  grid-template: 1fr/1fr;
  justify-items: center;
  align-items: center;
  font-size: 36px;
  grid-area: 1/1/3/2;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  color: #fff;
  background-color: #661CE7;
  position: relative;
}

.process__top-icon::after {
  content: "";
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.24);
  position: absolute;
  top: 51px;
  left: 15px;
}

.process__top-item {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  min-width: 325px;
  margin-top: 13px;
  margin-bottom: 8px;
  margin-left: 24px;
}

.process__top-signature {
  font-size: 18px;
  line-height: 175%;
  max-width: 336px;
  min-height: 96px;
  margin-left: 24px;
  opacity: 0.6;
  position: relative;
}

.process__top-inner::before {
  content: "";
  width: 0px;
  height: 71px;
  border: 2px dashed #FF6433;
  position: absolute;
  left: 36px;
  bottom: 6px;
}

.process__top-inner:last-child::before {
  visibility: hidden;
}

.process__contact {
  margin-top: 139px;
  position: relative;
  display: grid;
  grid-template: 1fr/ 1fr;
}

.process__contact::before {
  content: "";
  background-image: url(../images/3/Image\ 1.jpg);
  width: 976px;
  height: 502px;
  position: absolute;
  left: -318px;
}

.process__contact::after {
  content: "";
  background-image: url(../images/3/ovGrEUgrkyE.jpg);
  width: 944px;
  height: 502px;
  position: absolute;
  left: 658px;
}

.process__text-inner {
  position: relative;
  width: 729px;
  height: 502px;
  background-color: #FF6433;
  z-index: +1;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
}

.process__text-top {
  margin-left: 80px;
  margin-top: 128px;
  margin-bottom: 48px;
  width: 569px;
  height: 134px;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.process__button--black {
  margin-left: 60px;
  color: #fff;
  background-color: #1E1B1B;
}

/* =======================================main__row=========================================== */
.main__process-row {
  background-color: #F2F2F2;
  padding-top: 48px;
}

.process__row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 48px;
}

.process__row-items--violet {
  color: #661CE7;
  font-weight: 800;
  font-size: 58px;
  line-height: 131%;
  letter-spacing: -0.03em;
  transition: 0.3s;
}

.process__row-items--violet:hover {
  transform: scale(1.1);
}

.process__row-items--black {
  margin-top: 2px;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  opacity: 0.7;
}

/* =======================================main__brangs=========================================== */
.main__brands {
  padding-top: 128px;
  background-color: #E2E6E9;
}

.brands__inner {
  display: grid;
  grid-template: 1fr/1fr;
  justify-items: center;
  align-items: center;
}

.brands__icons {
  margin-top: 31px;
  display: grid;
  grid-template: 1fr 1fr/repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 32px;
  padding-bottom: 16px;
}

.brands__icon {
  transition: 0.3s;
}

.brands__icon:hover path {
  fill: #FF6433;
}

/* =======================================main__Blog=========================================== */
.main__blog {
  padding: 131px 0 136px;
}

.blog__inner {
  display: grid;
  grid-template: repeat(3, min-content)/1fr;
}

.blog__header {
  margin-bottom: 47px;
}

.blog__heading--left {
  text-align-last: left;
}

.blog__nav {
  display: flex;
  margin-bottom: 46px;
}

.blog__nav:last-child {
  margin-right: 0;
}

.blog__nav-btn--passiv {
  background: transparent;
  transition: 0.3s;
}

.blog__nav-btn--activ {
  color: #FF6433;
  text-decoration: underline #FF6433;
  transform: scale(1.25);
}

.blog__nav-btn--passiv:hover {
  color: #FF6433;
}

button span {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.blog__nav-btn {
  margin-right: 30px;
}

.blog__items {
  display: grid;
  grid-template: 1fr min-content /repeat(3, 1fr);
  grid-gap: 32px;
}

.blog__item {
  display: grid;
  grid-template: repeat(2, min-content)/1fr;
}

.blog__item:hover {
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 5px 5px 5px #FF6433;
}

.blog__item-img {
  margin-bottom: 24px;
}

.blog__item-img img {
  width: 100%;
  height: 100%;
}

.blog__text {
  display: grid;
  grid-template: repeat(3, min-content)/1fr;
}

.blog__text-data {
  line-height: 175%;
  color: #939191;
  margin-top: 16px;
}

.blog__text-main {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  margin-top: 16px;
}

.blog__text-signa {
  line-height: 175%;
  color: #232536;
  margin-top: 16px;
  margin-bottom: 32px;
}

/* ====================================main__coments============================================ */


.main__reviews {
  background-color: #F2F2F2;
  padding: 128px 0;
}

.reviews__inner {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  max-width: 909px;
  text-align: center;
  display: block;
  align-self: center;
  margin-bottom: 76px;
}

.reviews__slider .slick-list {
  margin: 0 -48px;
}

.reviews__slide {
  position: relative;
  padding: 0 48px;
  transition: all .3s;
}

.reviews__slide-inner {
  position: relative;
  padding: 72px;
  background-color: #fff;
  transition: all 3s;
  border-radius: 6px;
}

.reviews__author {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.reviews__image-box {
  border-radius: 50%;
  margin-right: 16px;
  overflow: hidden;
}

.reviews__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-socials {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translatey(-100%);
  transition: all .5s;
  border-radius: 6px;
  height: 100%;
  justify-content: space-evenly;
}

.reviews-socials svg {
  fill: #b9b9b9;
  transition: all .3s;
}

.reviews__socials-item {
  margin-bottom: 20px;
}

.reviews__socials-linkpath {
  transition: all .5s;
}

.reviews__socials-link:hover path {
  fill: #FF6433;
}

.reviews__slide:hover .reviews-socials {
  transform: translateY(0);
}

.reviews__about {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.reviews__name {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.reviews__city {
  line-height: 175%;
  color: #939191;
}

.reviews__desc {
  max-width: 472px;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.reviews__slider-arrows {
  display: flex;
  align-self: flex-end;
  margin-top: -35px;
}

.reviews__slider-arrows .click-grey {
  display: inline-block;
  align-self: center;
}

.reviews__slider-arrow {
  transition: all .3s;
}

.reviews__slider-next {
  transform: scale(-1, 1);
  margin-left: 26px;
}

.reviews__circle {
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 15px 13px;
  transition: all .3s;
}

.reviews__slider-arrow {
  transition: all .3s;
}

.reviews__slider-prev:hover {
  transform: scale(1.2);
}

.reviews__slider-next:hover {
  transform: scale(-1.2, 1.2);
}

.reviews__slider-arrow:hover .reviews__circle {
  background-color: #1E1B1B;
}

.reviews__slider-arrow:hover path {
  fill: #fff;
}

.reviews__slider .slick-list {
  margin-bottom: 33px;
}

.reviews__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__slider .slick-dots li {
  margin-right: 15px;
}

.reviews__slider .slick-dots li:last-child {
  margin-right: 0;
}

.reviews__slider button {
  font-size: 0;
  background-color: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
}

.reviews__slider button::before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #939191;
}

.reviews__slider .slick-active button::before {
  background-color: #FF6433;
  transition: all .3s;
}

/* ===========================main__questions============================== */
.main__questions {
  background-color: #E2E6E9;
  padding: 128px 0;
}

.questions__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions__header {
  margin-bottom: 86px;
}

.qestions__acc {
  max-width: 896px;
  margin: 0 auto;
  width: 100%;
}

.qestions__acc-item {
  margin-bottom: 12px;
}

.qestions__acc-item:last-child {
  margin-bottom: 0;
}

.qestions__acc-link {
  width: minmax(50vw 896px);
  display: inline-block;
  padding: 40px;
  background-color: #fff;
  width: 100%;
}

.qestions__acc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qestions__acc-head {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
  position: relative;
}

.qestions__acc-plus {
  background-color: #FF6433;
  width: 51px;
  height: 48px;
  position: relative;
}

.qestions__acc-plus::before,
.qestions__acc-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 34%;
  width: 17px;
  height: 2px;
  background-color: #fff;
}

.qestions__acc-plus::after {
  transform: rotate(90deg);
  transition: all .8s;
}

.qestions__acc-text {
  font-size: 18px;
  line-height: 175%;
  color: #939191;
  max-width: 680px;
  margin-top: 16px;
}

.qestions__acc-link--active .qestions__acc-plus::after {
  transform: rotate(0deg);
}

/* ===========================main__contact============================== */
.main__contact {
  padding-top: 121px;
  padding-bottom: 178px;
}

.contact__inner {
  display: grid;
  grid-template: repeat(2, min-content)/1fr;
}

.contact__heading--left {
  text-align: left;
  max-width: 458px;
  text-indent: 0;
  margin-bottom: 48px;
}

.contact__main {
  display: grid;
  grid-template: 1fr/2fr 1fr;
}

.contact__main-left {
  display: flex;
  flex-direction: column;
  margin-right: 139px;
}

.input {
  margin-left: 4px;
  min-height: 72px;
  margin-bottom: 4px;
  width: 100%;
  line-height: 175%;
  padding: 23px 40px;
  background-color: #F2F2F2;
  border-radius: 2px;
  overflow: hidden;
}

.input::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: #1E1B1B;
}

.input:nth-child(4) {
  margin-bottom: 0;
}

.contact__main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__right {
  display: grid;
  grid-template: repeat(3, min-content)/1fr;
}

.contact__right-top {
  line-height: 175%;
  opacity: 0.7;
  margin-bottom: 2px;
}

.contact__right-bot {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.contact__form-button {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 139px;
}

.contact__form-checkbox {
  margin-right: 10px;
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
}

.contact__form-checkbox--default:checked+.contact__form-checkbox--custom {
  background: url("../images/ok.svg") 60% 44% no-repeat, #FF6433;
  border: 1px solid #FF6433;
}

.contact__form-checkbox--default {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.contact__form-checkbox--defaulto {
  position: absolute;
  top: -15px;
}

.contact__form-checkbox--custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #1E1B1B;
  border-radius: 3px;
  cursor: pointer;
}

.contact__form-text {
  width: 60%;
}

/* ===========================main__map============================== */

.main__map {}

.container {}

.map__inner {
  margin: auto 0;
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.map__bg {
  background: url("../images/7/Image.jpg") 0 0 / 100%, no-repeat;
  width: 100%;
  height: 448px;
  background-size: cover;
  background-position: center;
  margin-top: -168px;
}

/* ===========================footer============================== */
.footer {}

.footer__top {
  background: #1E1B1B;
  opacity: 0.98;
  padding-top: 128px;
  color: #fff;
}

.container {}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.footer__top-left {}

.footer__top--left {
  text-align: left;
  max-width: 463px;
  width: 100%;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 167px;
}

.footer__contact-icon:hover path {
  fill: #FF6433;
}

.footer__main-right {
  display: flex;
  flex-direction: column;
  margin-bottom: 129px;
  margin-right: 153px;
}

.contact__right {}

.contact__right-top {}

.footer .contact__right-bot {
  margin-top: 8px;
  margin-bottom: 32px;
}

.footer__foot {
  background: #1E1B1B;
  padding: 65px 0;
  color: #fff;
}

.header__logo {}

.footer .logo path {
  fill: #fff;
}

.footer .header__nav {
  margin: 0;
}

.header__nav-list {}

.header__nav-item {}

.header__nav-link {}

.footer__end {
  line-height: 175%;
  color: #939191;
}





/* ===============================медиазапросы================================ */
/* ========================адаптация под размер экрана======================== */

/* =================================1325x==================================== */
@media (max-width:1325px) {
  .header__right-rate {
    left: 250px;
    top: 380px;
  }

  .header__right-service {
    left: 0;
    top: 0;
  }

  /* ========================================================================= */
  .offer__heading, .offer__heading-heading {
    max-width: 820px;
  }

  .main__offer-inner {
    display: grid;
    flex-direction: column;
    align-items: center;
  }

  .offer__button {
    width: 22vw;
  }

  .ofeer__learn {
    padding-right: 9vw;
  }

  .process__top-left {
    padding-left: 2.5vw;
  }

  .process__text-inner {
    margin-left: -15px;
  }

  /* ========================================================================== */
  .brands__icons {
    grid-gap: 28px;
  }

  .brands__icon {
    width: 200px;
  }
}

/* =================================1180px==================================== */
@media (max-width:1180px) {
  .header__main {
    grid-gap: 15px;
  }

  .header__main-text {
    margin-top: 0;
    font-size: 58px;
  }

  .header__right-rate {
    left: 80px;
    top: 196px;
  }

  .header__main-right {
    width: 430px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* ========================================================================= */
  .offer__heading-heading {
    font-size: 50px;
  }

  /* =========================================================================== */
  .heading {
    font-size: 50px;
  }

  .process__top-right {
    grid-template: repeat(3, min-content)/1fr;
  }

  .process__top-inner {
    grid-template: repeat(2, min-content)/min-content 1fr;
  }

  .process__top-icon {
    min-width: initial;
  }

  .process__top-item {
    min-width: initial;
  }

  .process__top-signature {
    min-width: initial;
  }

  .process__text-top {
    font-size: 40px;
  }

  /* ========================================================================== */
  .brands__icons {
    grid-gap: 10px;
  }

  .brands__icon, .brands__icon svg {
    display: block;
    width: 18vw;
  }

  /* ============================================================================ */
  .reviews__title {
    max-width: 800px;
  }

  .reviews__desc {
    max-width: 100%;
  }
}

/* ==================================850px==================================== */
@media (max-width:850px) {
  .heading {
    font-size: 46px;
  }

  .header__main {
    padding-top: 90px;
  }

  .burger {
    background-color: #fff;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    box-shadow: 0 4px 8px 0px #8281819e;
  }

  .burger span {
    display: block;
    height: 4px;
    width: 30px;
    background-color: #1E1B1B;
    border-radius: 3px;
    margin: 8px 0;
    transition: all .3s;
  }

  .burger.open {
    background-color: #FF643319;
    box-shadow: 0 0px 10px 2.5px #FF6433;
  }

  .burger--follow {
    box-shadow: 0 0px 10px 2.5px #FF6433;
  }

  .burger.open:before,
  .burger.open:after {
    position: fixed;
    transform: rotate(45deg);
    top: 37.5px;
  }

  .burger.open:after {
    transform: rotate(-45deg);
  }

  .burger.open span {
    transform: scale(0);
  }

  .burger::after, .burger::before {
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    background-color: #1E1B1B;
    border-radius: 3px;
    transition: all .3s;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    height: 100%;
    min-width: 350px;
    transform: translateX(100%);
    transition: all 0.3s;
  }

  .header__top-inner {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
  }

  .header__top--open .container {
    height: 100%;
  }

  .header__nav {
    margin: 0;
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav-item {
    margin-left: 0;
    padding: 5vh 0;
  }

  .header__nav-item:first-child {
    margin: 0;
  }

  .header__top-line {
    transform: rotate(90deg);
  }

  .header__top--open {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
  }

  .overlay--show {
    visibility: visible;
    opacity: 1;
  }

  /* =============================================================================== */
  .header__main {
    grid-template: 1fr/1fr;
    justify-items: center;
  }

  .header__main-left {
    justify-items: center;
    position: relative;
    grid-gap: 16px;
  }

  .header__main-buttons {
    grid-template: 1fr/1fr 1fr;
    justify-items: center;
    margin: 0;
  }

  .header__main-open {
    margin: 0;
  }

  .header__main-text {
    text-align: center;
  }

  .header__main-right {
    display: none;
  }

  .header__main-left .header__right-service,
  .header__main-left .header__right-rate {
    display: grid;
  }

  .header__right-text--bot {
    display: none;
  }

  .header__right-text {
    margin: 0;
  }

  .header__right-rate,
  .header__right-service {
    font-size: 22px;
    top: initial;
    transform: scale(0.8);
    bottom: initial;
    left: initial;
    right: initial;
    margin: 0;
  }

  .header__right-text--top {
    display: block;
    margin: 0;
    font-size: 26px;
  }

  /* ========================================================================= */
  .offer__heading, .offer__heading-heading {
    width: 820px;
  }

  .offer__buttons {
    grid-template: repeat(4, min-content)/repeat(2, min-content);
    justify-content: space-between;
    grid-gap: 3px;
  }

  .offer__button {
    width: 40vw;
    height: 195px;
    grid-template: 1fr 0.7fr /1fr;
  }

  .offer__heading, .offer__heading-preface, .offer__heading-heading {
    width: 90vw;
  }

  .ofeer__learn {
    justify-self: center;
    padding-right: 0;
    text-decoration: 1px solid #FF6433;
  }

  .ofeer__learn::before {
    top: 100%;
    left: calc(50% - 26.5px);
  }

  /* =========================================================================== */

  .process__top, .process__top-left, .process__top-right {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 90vw;
  }

  .process__top-button, .process__button--black {
    width: 40vw;
    min-width: 150px;
    margin-bottom: 32px;
  }

  .process__top-heading--left, .process__top-paragraph {
    max-width: 90vw;
    min-height: initial;
    text-align: center;
  }

  .process__top-item {
    margin-left: 10px;
  }

  .process__top-signature {
    max-width: 65vw;
    font-size: 16px;
    margin-left: 10px;
  }

  .process__text-inner {
    width: 100vw;
    margin-left: -15px;
  }

  .process__text-top {
    margin: 128px auto 48px;
    width: 75vw;
    height: initial;
    font-size: 38px;
    text-align: center;
  }

  .process__button--black {
    margin: 0;
    justify-self: center;
  }

  .process__row-items--violet {
    font-size: 46px;
  }

  .process__row-items--black {
    font-size: 18px;
  }

  /* ========================================================================== */
  .brands__icons {
    grid-template: repeat(5, min-content)/1fr 1fr;
    grid-gap: 10px;
  }

  .brands__icon, .brands__icon svg {
    display: block;
    width: 35vw;
  }

  .brands__icon:nth-child(1) {
    order: 1;
  }

  .brands__icon:nth-child(2) {
    order: 3;
  }

  .brands__icon:nth-child(3) {
    order: 5;
  }

  .brands__icon:nth-child(4) {
    order: 7;
  }

  .brands__icon:nth-child(5) {
    order: 9;
  }

  .brands__icon:nth-child(6) {
    order: 2;
  }

  .brands__icon:nth-child(7) {
    order: 4;
  }

  .brands__icon:nth-child(8) {
    order: 6;
  }

  .brands__icon:nth-child(9) {
    order: 8;
  }

  .brands__icon:nth-child(10) {
    order: 10;
  }

  /* =========================================================================== */
  .blog__items {
    grid-template: 1fr min-content /repeat(2, 1fr);
  }

  /* =========================================================================== */
  .reviews__slider button {
    width: 20px;
    height: 20px;
  }

  .reviews__circle {
    padding: 10px 8px;
  }

  .reviews__circle svg {
    width: 18px;
    height: 11px;
  }

  .reviews__slider-arrows {
    margin-top: -30px;
  }

  .reviews__slider-next {
    margin-left: 10px;
  }

  .reviews-socials {
    display: none;
  }
}

/* ==================================600px==================================== */
@media (max-width:600px) {
  .process__row {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: start;
    justify-items: start;
    margin-left: 10vw;
  }

  /* ========================================================================= */
  .blog__nav-btn span {
    font-size: 20px;
  }

  .blog__nav-btn {
    width: 40vw;
  }

  .blog__nav {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
  }
}

/* ==================================500px==================================== */

@media (max-width: 500px) {

  .main__reviews {
    padding: 100px 0;
  }

  .reviews__slider-arrows {
    display: none;
  }

  .reviews__name {
    font-size: 20px;
  }
}

/* ==================================450px==================================== */

@media (max-width:450px) {

  .wrapper__header {
    padding-bottom: initial;
  }

  .heading {
    font-size: 46px;
  }

  .header__main {
    padding-top: initial;
  }

  .header__top {
    min-width: none;
    width: 100%;
  }

  .header__top-inner {
    padding: 25px 0;
  }

  .header__nav-item {
    padding: 10px 0;
  }

  .header__main-left {
    grid-template: repeat(5, min-content) / 1fr;
  }

  .header__main-left, .header__main-text,
  .header__main-open, .header__main-buttons,
  .header__main-service {
    width: 80vw;
  }

  .header__main-service {
    text-align: center;
    font-size: 16px;
  }

  .header__main-open {
    display: block;
  }

  .header__main-open--black {
    white-space: normal;
  }

  .header__main-text {
    margin-left: 0;
    font-size: 36px;
  }

  .header__main-buttons {
    grid-template: 1fr 1fr /1fr;
  }

  .header__main-left .header__right-rate,
  .header__main-left .header__right-service {
    display: none;
  }

  .header__main-open {
    margin-left: 0;
  }

  .header__main-open::after {
    display: none;
  }

  /* ============================================================================ */
  .process__top {
    margin-top: 38px;
  }

  .main__offer-inner {
    padding-bottom: 58px;
    padding-top: 38px;
  }

  .process__top-right {
    margin: 0;
  }

  .process__top-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 80vw;
  }

  .process__top-item,
  .process__top-signature {
    margin-left: 0;
    margin-right: 0;
    max-width: initial;
    width: 100%;
    text-align: center;
  }

  .process__contact {
    margin-top: 38px;
    position: relative;
    display: grid;
    grid-template: 1fr/ 1fr;
  }

  .process__top, .process__top-left, .process__top-right {
    width: 85vw;
  }

  .process__top-icon, .process__top-inner::before {
    display: none;
  }

  .process__text-top {
    margin-top: 48px;
  }

  .process__row-items--black {
    white-space: nowrap;
    font-size: 14px;
  }

  /* ========================================================================= */
  .main__brands {
    padding-top: 38px;
  }

  /* ========================================================================= */
  .main__blog {
    padding: 38px 0 38px;
  }

  .blog__nav-btn span {
    font-size: 20px;
  }

  .blog__item-img img {
    padding-right: 15px;
  }

  .blog__nav-btn {
    width: 40vw;
  }

  .blog__items {
    grid-template: repeat(2, 1fr) min-content /1fr;
    padding-right: 15px;
  }

  /* ============================================================================= */
  .main__reviews {
    padding: 80px 0;
  }

  .reviews__author {
    margin-bottom: 15px;
  }

  .reviews__image-box {
    width: 60px;
  }

  .reviews__about {
    margin-right: 0;
  }

  .reviews__name {
    font-size: 18px;
    line-height: 120%;
  }

  .reviews__city {
    font-size: 13px;
  }

  .reviews__desc {
    font-size: 14px;
  }

}